.Input,
.Select {
  width: 100%;
  height: fit-content;
  .input-box {
    width: 100%;
    border-radius: 0.25rem;
    transition: 250ms;
    border: 1px solid #ced4da;
    box-shadow: 0px 2.5px 2.5px 0px rgb(0 0 0 / 15%);
    input,
    textarea {
      &::placeholder {
        color: var(--bs-secondary);
      }
    }
    input {
      height: 45px;
    }
    textarea {
      min-height: 100px;
    }
    .input-group-text {
      border: none;
    }
  }
  .message {
    min-height: 15px;
    font-size: 0.6rem;
  }
  &.focused {
    .input-box {
      border-color: #86b7fe;
      box-shadow: 0px 2.5px 2.5px 0px rgb(13 110 253 / 25%);
    }
  }
}
